{% extends "base.html" %}
{% block title %}영화 수정{% endblock %}


{% block body %}
    <div class="container">
        <form action="/movies/create", method="POST">
            <div class="form-group row">
                <label for="input_title" class="col-sm-2 col-form-label">영화명</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value={{movie.title}} id="title" name="title">
                </div>
            </div>
            <div class="form-group row">
                <label for="input_title_en" class="col-sm-2 col-form-label">영화명(영문)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value={{movie.title_en}} id="title_en" name="title_en">
                </div>
            </div>
            <div class="form-group row">
                <label for="input_title" class="col-sm-2 col-form-label">관객수</label>
                <div class="col-sm-10">
                    <input type="int" class="form-control" value={{movie.audience}} id="audience" name="audience">
                </div>
            </div>
            <div class="form-group row">
                <label for="input_title_en" class="col-sm-2 col-form-label">개봉일</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value={{movie.open_date}} id="open_date" name="open_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="input_title" class="col-sm-2 col-form-label">장르</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value={{movie.genre}} id="genre" name="genre">
                </div>
            </div>
            <div class="form-group row">
                <label for="input_title_en" class="col-sm-2 col-form-label">등급</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value={{movie.watch_grade}} value={{movie.watch_grade}} id="watch_grade" name="watch_grade">
                </div>
            </div>
            <div class="form-group row">
                <label for="Range">별점</label>
                <input type="range" class="custom-range" min="0" max="5" step="0.5" id="score" name="score">
            </div>
            <div class="form-group row">
                <label for="input_title" class="col-sm-2 col-form-label">영화 포스터 url</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value={{movie.poster_url}} id="poster_url" name="poster_url">
                </div>
            </div>
            <div class="form-group row">
                <label for="input_title_en" class="col-sm-2 col-form-label">줄거리</label>
                <div class="col-sm-10">
                    <input type="textarea" class="form-control" id="poster_url" name="description"/>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">수정!</button>
        </form>
    </div>
{% endblock %}