{% extends "base.html" %}
{% block title %}영화 목록 추가{% endblock %}


{% block body %}
    <form action="/movies/create", method="POST">
        영화명 : <input type="text" name="title"> <br>
        영화명(영문) : <input type="text" name="title_en"> <br>
        관객수 : <input type="int" name="audience"> <br>
        개봉일 : <input type="text" name="open_date"> <br>
        장르 : <input type="text" name="genre"> <br>
        등급 : <input type="text" name="watch_grade"> <br>
        별점 : <input type="float" name="score"> <br>
        영화 포스터 url : <input type="text" name="poster_url"> <br>
        줄거리 : <input type="textarea" name="description"/> <br>
        <input type="submit" value="등록!">
    </form>
{% endblock %}
